.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 10px;

  label {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
  }

  .searchText {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
  }

  .searchText:focus {
    outline: none;
    box-shadow: 0 0 5px black;
  }

  .submit {
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
  }

  .submit:hover {
    background: #92deec;
  }

  .submit:focus {
    outline: none;
    box-shadow: 0 0 5px black;
  }
}
