.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: row;
}

table {
  border: 1px solid black;
}

td {
  text-align: center;
  height: 50px;
  border: 1px solid black;
}

.songKey {
  width: 40px;
}

.songName {
  width: 200px;
}

.artistName {
  width: 100px;
}

.albumName {
  width: 150px;
}
